:root {
  --color-black-first:#000;
  --color-black-second: #594236;
  --color-black-third: #93A3BC;
  --color-first: #48ACF0;
  --color-second: #6F584B;
  --color-third: #CCDDE2;
  --color-error: #BA1F33;
  --color-success: #62C370;
  --color-warning: #CEB02A;
  --color-fourth: #094871;
}