.main-section{
  background-color: var(--color-first);
  padding: 50px 0px 100px;
  border-bottom: 10px solid var(--color-second);  
}

.main-section .main-title {
  margin-bottom: 60px;
}

.main-section.-bgBlack{
  background-color: var(--color-black-first);
}

.main-section.-bgBrown {
  background-color: var(--color-second);
}

.main-section.-bgDarkBrown {
  background-color: var(--color-black-second);
}

.main-section.-bordColorFirst {
  border-bottom: 10px solid var(--color-first);  
}

.main-section.-bordColorBlack {
  border-bottom: 10px solid var(--color-black-first);  
}

