.main-footer{
  display: flex;
  justify-content: center;
  background-color: var(--color-black-first);
}

.main-footer .footer-button{
  max-width: 48px;
  max-height: 48px;
  margin-right: 20px;
  margin-left: 20px;
}