.main-input {
  border:5px solid var(--color-black-first);
  box-sizing: border-box;
  width: 100%;
  line-height: 50px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: var(--color-third);
  font-size: 30px;
}

.main-input.-textarea {
  height: 318px;
}