.skills{
  background-color: var(--color-first);
  height: 740px;
  text-align: center;
  padding-top: 50px;
  border-bottom: 10px solid var(--color-second);
}

.skills .title{
  color: var(--color-third);
  text-shadow: none;
}